<div id="map" style="width:90% ; height: 35em;"></div>
<script>
  mapboxgl.accessToken = '<%= mapkey %> '
  let map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/light-v10',
    zoom: <%= zoom %>,
    center: [<%= center %>]
  });

  map.on('load', function(){
    map.addLayer({
      "id":"points",
      "type": "symbol",
      "source": {
        "type" : "geojson",
        "data":{
          "type": "FeatureCollection",
          "features": [<%- markers %> ]
        }
      },
      "layout":{
        "icon-image":"{icon}-15",
        "text-field":"{title}",
        "text-font":["Open Sans Semibold","Arial Unicode MS Bold"],
        "text-offset" : [0,0.6],
        "text-anchor" : "top"
      }
    })
  })
</script>
