<h1>All spots list</h1>

<p>Here are some suggestions!</p>

<% if(spots && spots.length > 0) { %>
  <% spots.forEach((s)=>{ %>
    <div>

      <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="<%= s.image %>" class="card-img" style="max-width: 540px;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">  <%= s.name %></h5>
        <p class="card-text"> <%= s.description %></p>
        <div>
          <a href="/spots/<%= s.id%>">Visit Page</a>
        </div>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

    </div>
  <% }) %>
<%} else{  %>
  <p>Nothing here to see</p>
<% } %>
